doctype html
html(lang="en")
  head
    title Sign up for Simple Forum
    style
      include ../style/initial.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  body
    .login
      h1 Sign up
      |<br>
      form(method="get" id="signupForm")
            input(type="text" id="username" name="username" value="" placeholder="Username")
            |<br><br>
            input(type="text" id="email" name="email" value="" placeholder="Email")
            |<br><br>
            input(type="password" id="password" name="password" value="" placeholder="Password")
            |<br><br>
            input(type="submit" name="login" value="Submit" class="submitB")
      script
            include ../script/register.js
