doctype html
html(lang="en")
  head
    title Select one group
    style
        include ../style/selectGroup.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  body
    #form
    script
        |meta =!{meta};
        include ../script/selectGroup.js