doctype html
html(lang="en")
  head
    title Sign up for Simple Forum
    style
      include ../style/initial.css
  body.
    <div class="login">
      <h1>Sign up</h1>
      <form method="post" action="http://localhost:3000/register">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p><input type="text" name="realName" value="" placeholder="realName"></p>
        <p><input type="text" name="email" value="" placeholder="Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p><input type="submit" name="login" value="Submit" ></p>
      </form>
    </div>
