doctype html
html(lang="en")
  head
    title Select one group
    style
        include ../style/selectGroup.css
  body
    #form
    script
        |meta =!{meta};
        include ../script/selectGroup.js