doctype html
html(lang="en")
  head
    title Select one group
    style
        include ../style/selectGroup.css
  body
    #form
    script
        |username =!{name};
        |groupNames =!{groups};
        include ../script/selectGroup.js