#content {
	position: absolute;
	top: 20%;
	width: 100%;
	font-size: 20px;
    text-align: center;
}

#addNewSchool {
	position: absolute;
	top: 110%;
	left: 23%;
	width: 50%;
	border: solid 2px rgb(218, 231, 239);
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	padding: 35px;
}


#addNewSchoolForm input[type=submit] {
	width: 200px;
	font-size: 18px;
}
