body {
	background-color: rgb(232, 241, 247);
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
    font-size: 18px;
    height: 13%;
    font-style: italic;
    font-weight: bold;
    color:black;
	background-color: rgb(69, 182, 247);
	border-bottom: solid 1px rgb(2, 2, 2);
	text-align: left;
	text-indent: 10px;
}

.form input[type=submit] {
    height: 30px;
    border: solid 2px #000;
    border-radius: 4px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}

.form input[type=text] {
    border-radius: 4px;
    font-size: 18px;
} 

#searchSchoolForm input[type=submit] {
	width: 155px;
}

#addSchoolForm input[type=submit] {
	width: 200px;
}
