body {
    background-color: rgb(255, 255, 255);
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 9.9%;
    font-weight: 800;
    color:black;
    background-color: rgb(69, 182, 247);
    border-bottom: solid 1px rgb(2, 2, 2);
    text-align: left;
    text-indent: 10px;
    display:inline-block;
}

#piazza {
    position: fixed;
    top: 0px;
    left: 2px;
    font-size: 25px;
    font-style: italic;
}

#class {
    display:inline-block;
    position: fixed;
    top: 0px;
    left: 26%;
    font-size: 20px;
}

#QA {
    display:inline-block;
    position: fixed;
    top: 0px;
    left: 34%;
    font-size: 20px;
}

#management {
    display:inline-block;
    position: fixed;
    top: 0px;
    left: 40%;
    font-size: 20px;
}

#account {
    display:inline-block;
    position: fixed;
    top: 0px;
    left: 95%;
    font-size: 20px;
}

#tags {
    position: fixed;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 7.5%;
    font-size: 15px;
    color:black;
    background-color: rgb(232, 241, 247);
    text-align: left;
    text-indent: 10px;
}

#newPostOrSearchPost {
    position: fixed;
    top: 17.5%;
    left: 0px;
    height: 7.5%;
    width: 30%;
    font-size: 18px;
    color:black;
    font-weight: 800;
    background-color: rgb(232, 245, 252);
    border: solid 2px rgb(218, 231, 239);
    text-align: left;
}

#newPostButton {
    display: inline-block;
    position: relative;
    top:9px;
    left:5px;
    margin-right: 10px;
    border: solid 2px #000;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    width: 130px;
    font-style: italic;
}

#search {
    display: inline-block;
}

#search input[type=text] {
    position: relative;
    top:9px;
    width: 106%;
    border: solid 2px #000;
    border-radius: 4px;
    font-size: 18px;
    font-style: italic;
    text-indent: 10px;
}

#postOutline {
    position: fixed;
    top: 27%;
    left: 0px;
    width: 30%;
    height: 75%;
    font-size: 18px;
    color:black;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(218, 231, 239);
    border-top: none;
    text-align: left;
    text-indent: 10px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

#postContent {
    position: fixed;
    top: 17.5%;
    left: 30%;
    width: 70%;
    height: 82.5%;
    font-size: 18px;
    font-weight: 550;
    color:black;
    background-color: rgb(249, 251, 252);
    border: solid 2px rgb(218, 231, 239);
    text-align: left;
    text-indent: 10px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

td {
    padding: 20px;
    text-align: left;
}

th {
    padding: 5px;
    text-align: right;
}

#newPostForm input[name=summary], textarea[name=postContent]{
    border: solid 1px #000;
    border-radius: 4px;
    text-indent: 10px;
    font-size: 18px;
    width: 100%;
}

#postDetails {
    vertical-align: top;
    padding-top: 25px;
}

#newPostForm select[name=showMyNameAs] {
    border: solid 1px #000;
    border-radius: 4px;
    text-indent: 10px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    width: 30%;
}

#newPostForm input[type=submit] {
    border: solid 1px #000;
    border-radius: 4px;
    text-indent: 10px;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    width: 30%;
}