body {
    overflow: auto;
    height: 100%;
}

#header {
    position: relative;
    display: block;
    top: -8px;
    left: -8px;
    width: 102%;
    height: 10%;
    font-weight: 800;
    color:black;
    background-color: rgb(69, 182, 247);
    border-bottom: solid 1px rgb(2, 2, 2);
    text-align: left;
    text-indent: 10px;
}

#header > p {
    position: relative;
    top: 30%;
}

#piazza {
    display:inline-block;
    left: 2px;
    font-size: 25px;
    font-style: italic;
}

#class {
    display:inline-block;
    position: relative;
    left: 20%;
    font-size: 20px;
}

#QA {
    display:inline-block;
    position: relative;
    left: 22%;
    font-size: 20px;
}

#management {
    display:inline-block;
    position: relative;
    left: 24%;
    font-size: 20px;
}

#account {
    display:inline-block;
    position: relative;
    left: 69%;
    font-size: 20px;
}

#navArchor {
    height:0px; 
    margin:0; 
    padding:0;
}

#nav {
    position: relative;
    left: -8px;
    top: 2px;
    height: 10%;
    display: block;
    width: 102%;
    text-align: center;
    background-color: rgb(214, 219, 218);
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    z-index: 100;
}

#manageEnrollment {
    display: inline-block;
    width: 5%;
}

#setup {
    position: relative;
    left: 15%;
    top: 80px;
    display: block;
    width: 60%;
}

.leftContainer {
    width: 30%;
    padding-right: 20px;
    padding-bottom: 350px;
}

.leftContent {
    border: solid 2px rgb(229, 229, 117);
    background-color: rgb(242, 242, 167);
    padding: 10px;
    color: rgb(104, 104, 46);
    padding-bottom: 20px;
}

.rightContainer {
    border-top: solid 3px rgb(0, 0, 0);
}

#enrollStudents {
    padding-bottom: 100px;
}

#enrollProfessors {
    padding-bottom: 60px;
}

.rightContentTitle {
    display: block;
    border-bottom: solid 1px rgb(2, 2, 2);
    text-indent: 5px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    width: 80%;
    border: solid 2px rgb(170, 175, 183);
    border-radius: 6px;
}

.enrollNum {
    font-size: 15px;
    color: rgb(155, 157, 160);
    margin-top: 0px;
}

input[type="submit"] {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 6px;
    background-color: rgb(86, 87, 89);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 5px;
}

#addmembersButton {
    width: 130px;
}