doctype html
html(lang="en")
    head
        title Piazza -- The New Way to Q&A, For classrooms
        style
            include ../style/addOrSelectSchool.css
            include ../style/common.css
    body.
        <div id="header">
            <h1>Piazza</h1>
        </div>
        <div id="content">
            <h1>Select Your School</h1>
            <p>You can create your school if it does not already exist</p>
            <div id="addOrSearchSchool">
                <p>Search Schools:</p>
                <form method="post" class='form' id='searchSchoolForm' action="http://localhost:3000/searchSchool">
                    <input type="text" name="school" value="" placeholder="e.g., My University">
                    <input type="submit" name="button" value="Search" >
                </form>
                <p>or</p>
                <form method="post" class='form' id='addSchoolForm' action="http://localhost:3000/addSchool">
                    <input type="submit" name="button" value="Add New School" ><br><br>
                </form>
            </div>
        </div>
