doctype html
html(lang="en")
    head
        title Piazza -- The New Way to Q&A, For classrooms
        style
            include ../style/loginOrSignUp.css
            include ../style/common.css
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    body.
        <div id="header">
            <h1>Piazza</h1>
        </div>
        <div id="content">
            <h1 id="schoolName"></h1>
            <p id="titleMsg"></p>
            <div id="loginOrSignUp">
                <form method="post" class='form' id='loginOrSignUpForm' action="http://localhost:3000/loginOrSignUp">
                    <input type="hidden" name="schoolName" value="">
                    <input type="submit" name="login" value="Login!"><br><br>
                    <input type="submit" name="signUp" value="Sign Up!">
                </form>
            </div>
        </div>
    script
        |schoolName = !{schoolName};
        include ../script/loginOrSignUp.js