doctype html
html(lang="en")
  head
    title Simple Forum
    style
        include ../style/homepage.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  body
    #header
        h1 Simple Forum
    #logoutButton
        button(type="button", onclick="logout()")|logout(#{name})
    #nav
        a(href="http://localhost:3000/homepage/all?user=" + JSON.stringify(meta))|All<br>
        a(href="http://localhost:3000/homepage/life?user=" + JSON.stringify(meta))|Life<br>
        a(href="http://localhost:3000/homepage/study?user=" + JSON.stringify(meta))|Study<br>
        a(href="http://localhost:3000/homepage/work?user=" + JSON.stringify(meta))|Work     
    #newPostButton
        button(type="button", onclick="newPost()")|New Post
    #mainSection
    script 
        |posts =!{posts};
        |meta =!{meta};
        include ../script/homepage.js
        
